.containerHome {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    padding: .5em 2em;
}

.titleWrapperHome {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1em;
}

.titleWrapperHome h1 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5rem;
    font-family: "Montserrat", sans-serif;
}

/* Responsiveness */

@media screen and (max-width: 1150px){

    .titleWrapperHome h1 {
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: .7rem;
        font-family: "Montserrat", sans-serif;
    }
}