.processQtyAndQuantumWrapper {
    width: 100%;
    height: 80px;
    margin-bottom: 1em;
}

.formProcessWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 1%
}

.processQtyWrapper {
    width: 49%;
    height: calc(80px - 1em);
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: .5em;
    border-radius: 8px;
    background-color: #edf3f6;
}

.processLabelWrapper {
    cursor: default;
    height: 100%;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-inline: 1rem;
    border: none;
    outline: none;
}

.processQtyLabel {
    cursor: text;
    font-weight: 700;
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
}

.processQtyInput {
    cursor: auto;
    width: 4em;
    height: calc(100% - .2em);
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    background-color: #ffff;
}

.processButtonWrapper {
    width: 20%;
    height: 100%;
    padding: 0px .5em;    
}

.buttonShowProcess {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font: .8rem;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    background-color: aliceblue;
    font-family: "Montserrat", sans-serif;
}

.buttonShowProcess:hover {
    background-color: black;
    color: aliceblue;
    border: 1px solid aliceblue;
    transition: .6s;
}

.processQuantumWrapper {
    width: 49%;
    height: calc(80px - 1em);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
    border-radius: 8px;
    background-color: #edf3f6;
}

.processQuantumDiv {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.processDivOverload {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Show Process */

.processWrapper {
    min-width: 100%;
    min-height: 500px; 
    background-color: #edf3f6;
    margin-bottom: 1em;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.showProcessDiv {
    width: calc(1392px + 1.5em);
    max-height: calc(420px + 1.3rem);
    display: flex;
    flex-wrap: wrap;
    gap: 0.65rem;
    padding-left: .65rem;
    padding-top: .65rem;
    padding-bottom: .65rem;
}

/* Input Process */

.inputsProcessWrapper {
    width: calc(100% - 1em);
    height: calc(100px - 1em);
    background-color: #edf3f6;
    margin-bottom: 1em;
    padding: .5em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 8px;
}

.formForInputs {
    width: 150px;
    height: 100%;
}

.inputProcess {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: aliceblue;
    font-family: "Montserrat", sans-serif;
}

.inputProcess:hover {
    background-color: black;
    color: aliceblue;
    border: 1px solid aliceblue;
    transition: .6s;
}

/* Process Data */

.processDataWrapper {
    width: 343px;
    height: 140px;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.titleProcessData {
    width: calc(100% - 1em);
    height: calc(30px - 1em);
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: center;
    padding: .5em;
    font-weight: 600;
    font-size: .9rem;
    border-bottom: 1px solid black;
    background-color: rgb(247, 242, 236);
    font-family: "Montserrat", sans-serif;
}

.valuesProcessData {
    width: 100%;
    height: 100%;
    display: flex;
    gap: .5em;
}

.divTcData {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.labelTcData {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: .9rem;
    font-family: "Montserrat", sans-serif;
}

.inputTcData {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 6px;
    font-weight: 600;
    font-size: .9rem;
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    background-color: #ffff;
}

.inputHiddenTcData {
    /* width: .1em;
    height: .1em;
    border: none;
    background: transparent; */
    /* display: none; */
}

/* Graph Process Wrapper */

.graphFIFOProcessWrapper {
    min-width: calc(100% - 1em);
    background-color: #edf3f6;
    margin-bottom: 1em;
    padding: .5em;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.graphFIFOProcessWrapper h1 {
    width: 100%;
    height: 40px;
    margin-top: -.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1em;
    font-family: "Montserrat", sans-serif;
}

.divChartGraphFifo {
    width: 100%;
    margin-bottom: 1em;
    /* height: 400px; */
    /* background-color: saddlebrown; */
}

.divChartGraphFifoInfos {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.4em;
}

.chartGraphSubtitleFifo {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    gap: .5em;
}

.subtitleForExec {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: #0000FF;
}

.subtitleOverload {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: #FF0000;
}

.subtitleDeadline {
    width: 30px;
    height: 30px;
    border-radius: 6px;
    background-color: #4b4b4b;
}